:root {
    --bg-color: rgb(65, 65, 65);
    --text-color: #fffcfc;
    --sidebar-bg: #111;
    --sidebar-hover: #575757;
}

body.light-mode {
    --bg-color: #ffffff;
    --text-color: #333;
    --sidebar-bg: #d6d3d3;
    --sidebar-hover: #e9ecef;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: margin-left 0.3s, background-color 0.3s, color 0.3s;
    background: var(--bg-color);
    color: var(--text-color);
}

/* ===== MENU LATERAL ===== */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    /* começa escondido */
    background-color: var(--sidebar-bg);
    padding-top: 60px;
    transition: left 0.3s ease, background-color 0.3s;
    z-index: 1000;
}

.sidebar.ativo {
    left: 0;
    /* aparece */
}

.sidebar a, h5 {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background 0.3s;
}


.sidebar a:hover {
    background-color: var(--sidebar-hover);
}

.btn-tema {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-tema:hover {
    transform: scale(1.1);
}

body.light-mode .sidebar {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

body.light-mode .sidebar a,
body.light-mode .sidebar h5,
body.light-mode .btn-tema,
body.light-mode .categoria-nome {
    color: #333;
}

body.light-mode #btnMenu {
    color: #333;
}

/* ===== BOTÃO MENU ===== */

.clicado{
    color: white;
}

#btnMenu {
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    z-index: 2000;
    /* fica acima da sidebar */
}



/* ===== CONTEÚDO ===== */
.conteudo {
    padding: 20px;
    transition: margin-left 0.3s;
}

.conteudo.shift {
    margin-left: 250px;
    /* empurra o conteúdo */
}

.formCategoria {
    display: none;
    margin: 10px 0;
}

.formCategoria.ativo {
    display: block;
}

/* Página de login e cadastro */
.background-cadastro{
    background-image: linear-gradient(20deg, blueviolet, black, darkblue);
}

.login-card{
    background: #ffffff;
    width: 420px;
    max-height: 1000px; /* mantém formato quadrado */
    border-radius: 12px;
    box-shadow: 1px 8px 30px rgba(0,0,0,0.12);
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
}

@media (max-width: 480px){
    .login-card{
        width: 90vw;
        height: 90vw;
        padding: 20px;
    }
}

.link-card {
    display: block;
    margin-top: 8px;
    color: darkblue;
    text-decoration: none;
}