/* Página de login e cadastro */
.background-cadastro{
    background-image: linear-gradient(20deg, blueviolet, black, darkblue);
}

.background-login{
            background-image: url("../img/background.png");
            background-size: cover;
            background-repeat: no-repeat;
        }

.login-card{
    background: #ffffff;
    width: 420px;
    max-height: 1000px; /* mantém formato quadrado */
    border-radius: 12px;
    box-shadow: 1px 8px 30px rgba(0,0,0,0.12);
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 480px){
    .login-card{
        width: 90vw;
        height: 90vw;
        padding: 20px;
    }
}

.link-card {
    display: block;
    margin-top: 8px;
    color: darkblue;
    text-decoration: none;
}